[2017-08-25 01:26] salisbury-espinosa opened #1 "Need add missed files from matting_deconv.py + usage guide"

[2017-08-25 04:26] Joker316701882 commented on #1
Thank you.
Vgg model can be found here:
"https://www.cs.toronto.edu/~frossard/post/vgg16/"
I'm sorry that the training data is owned by the company. I'll publish the model and usage ASAP. Because lot's of implementing details are vague in paper, so this code is shared for showing my understanding about it. Different ideas and discussion are welcomed!

[2017-08-27 17:58] salisbury-espinosa commented on #1
need add link on WP

[2017-08-30 22:20] SarahQiong opened #2 "fc6 layer & unpooling layers?"
It looks to me that you are missing the fc6 layer in the encoder and the unpooling layer in the decoder. Please correct me if my understanding is wrong.

p.s. I am interested in implementing deep image matting in tensorflow as well, please send me an email if you are interested in discussing the details of the implementation. Thanks.

[2017-08-31 01:56] Joker316701882 commented on #2
Yes you are right! Seems I missed the fc6, e.g.14th layer. I will correct it. And I replaced unpooling layer by using deconvolution(There is no unpooling ops in tensorflow). It's OK if we have larger training set. The loss architecture is not correct in this code(but this is based on your understanding). Currently, because of some reason, I have to re-prepare all training data. So the update will

[2017-09-04 16:57] #2 closed

[2017-09-11 05:52] red010182 opened #3 "How to use it?"
I just clone this repo and `mkdir` some neccessary folders, then run `python matting_deconv.py` but got these errors:

[code]

[2017-09-14 10:00] Joker316701882 commented on #3
Thank you.
I added some images in "data_structure" to show the file structure of training data.
note: 'eps' means the images which you can composite with alpha to get FG (i.e. where FGs come from)

Basically:
1. Resized the all eps images and corresponding alpha(or called alpha, matte...) so that the longest side of any eps and alpha images equals to 640 pixel(keep the proportion of width and heig

[2017-09-17 12:31] salisbury-espinosa opened #4 "Can you share the pre-trained model?"

[2017-09-18 06:31] bitname commented on #1
Thank you for sharing your data_structure! But I still have some questions。
1.How do you abtain the eps?
2.In your BG_folder, is the 100 background images in each folder the same?
3.How much  is your GPU memory, and how much time usually requires for training?

[2017-09-18 06:47] Joker316701882 commented on #1
1. eps is from real world. (manually collected and use PS to get corresponding mask)
2. BGs are not same. for example, if there is 900 eps, and there will totally 90000 different BGs separated in 900 folders. BGs come from 'pascal voc' and 'coco'
3. mini_batch size is 1. So it doesn't really take too much GPU space. I don't know the minimum space requirement, but in my case, 5G is allocated and it

[2017-09-18 12:58] bitname commented on #1
Thank you very much for your reply！It helps me understand  the paper and your excellent codes.

[2017-09-18 13:49] longbuild commented on #1
Thank you for the excellent code.

I have a question about alpha mask generation. What strategy do you use to generate multiple copies of the same object's alpha? For instance, are you randomly scaling the alpha image? Or is the aspect ratio randomly determined ?

[2017-09-18 13:59] Joker316701882 commented on #1
@longbuild
Do u mean different size in alpha_image.png file?
If so, actually the alpha in those images are same size. They look different is because alpha is padding to different size(which is the corresponding size in the same path under BG folder). So basically, one alpha will never change size, but the size after padding depends on corresponding background image.
e.g.
BG/0/0.png shares same siz

[2017-09-18 14:20] swayam18 commented on #1
@Joker316701882

Aahh that makes a lot of sense.

[2017-09-18 15:46] longbuild commented on #1
@Joker316701882

Yes, thank you for clarifying that!
Are the corresponding images in alpha/ and BG/ the exact same size or are the alpha images scaled down to 640px as mentioned in your blog post?

[2017-09-19 00:41] Joker316701882 commented on #1
@longbuild
You are welcome.
By the way, just like the second method to prepare training data which is mentioned in my blog. We can directly center pad alpha into bg without resize bg ( which is the author's way I think). The code can be seen here:
`if crop_size == 480:
	h_start_index = i_UR_center[0] - 239
	w_start_index = i_UR_center[1] - 239
	h_start_index,w_start_index = get_safe_boundary(h_sta

[2017-09-19 00:44] Joker316701882 commented on #1
@longbuild
You are welcome.
By the way, just like the second method to prepare training data which is mentioned in my blog. We can directly center pad alpha into bg without resize bg ( which is the author's way I think). The code can be seen here:
![image](https://user-images.githubusercontent.com/18679821/30570873-f1bf5c84-9d1e-11e7-8439-00d7e889a3ec.png)
and call this function here:
![image](htt

[2017-09-19 14:27] mikirui opened #5 "crop problem & evaluation codes"
Hi,

I read your Chinese blog, and I think maybe you don't need to padding for 'crop security'. I did it by specify the region I can crop before I randomly crop centered on the unknown region pixel, but I implement it with caffe.
By the way, I think the way to compute evaluation metrics like 'Gradient' and 'Connectivity' are of
ambiguity, do you have codes for that? It would be great help to me. T

[2017-09-19 22:11] hector-sab commented on #5
This might be off-topic but could you share the link of the blog?

Héctor

[2017-09-20 00:17] Joker316701882 commented on #5
@hector-sab
Sorry it's in Chinese
http://calebml.leanote.com/post/Deep-Image-Matting%E5%A4%8D%E7%8E%B0%E8%BF%87%E7%A8%8B%E6%80%BB%E7%BB%93

[2017-09-20 00:22] Joker316701882 commented on #5
@mikirui
Thank you for your great advice! But I don't quite understand your question.
Gradient is automatically calculated by dl framework. If you mean 'loss structure', it can be seen in 'readme'.

[2017-09-20 03:25] mikirui commented on #5
@Joker316701882
Sorry, I don't mean that gradient, actually I mean the metrics to measure the performance of Matting methods: 'SAD', 'MSE', 'Gradient' and 'Connectivity', which is presented in Table 1 of this paper. So maybe you don't focus on this, thank you anyway~~

[2017-09-21 04:30] yanghuanflc opened #6 "deep image matting dataset"
大牛可以share一下数据集吗？之前有发过邮件着作者要，但是没有回复～多谢多谢～

[2017-09-21 05:20] Joker316701882 commented on #6
@yanghuanflc
数据属于公司财产，不方便分享。
https://sites.google.com/view/deepimagematting
这个网站的最下面讲了如何向申请数据集（第二作者），回复很快。第一作者通常是不回邮件的。

[2017-09-22 14:36] hector-sab commented on #3
In case anyone is intereste, I have made some code to create the database. It's main porpuse is to generate it from SURREAL database (Synthetic humans). But there's one class that can do the trick for others sources. https://github.com/hector-sab/DIM_DataCreation .

[2017-09-22 15:50] bhack commented on #3
@hector-sab Nice.. have you tried to train on this data?

[2017-09-25 13:43] bitname commented on #3
@Joker316701882 你好，打扰你了，一直关注这篇论文和你共享的代码，非常感谢你的分享（包括代码、博客以及你的回答），让我渐渐理清了论文脉络，在实验过程中，遇到了一些问题，所以向你咨询一下。
1. 你有没有执行过作者的合成代码？按照作者提供的数据集和合成代码，我合成的每张图片都是1-2M，整个4万多张得有70G-80G吧，合成过程比较慢，3个小时4000张图片，这种速度得30个小时能合成完。这是正常的吗？
2. 作者合成图片的方式和你合成图片的方式不一样。作者的方式是1个alpha，1个fg，100个bg，100个尺寸一样的RGB；而你的方式是由1个alpha，1个fg，100个bg得到100个alpha，100个fg，100个RGB，尺寸都不一样；但每个alpha，fg，RGB，bg的尺寸都是一样的。我感觉你的方式泛化性能是不是更好呢？（作者采用crop的方式提高泛化性能），不

[2017-09-27 01:25] Joker316701882 commented on #3
@bitname
1.有没有用作者的合成代码
Sorry this code can not be applied on author's data. I did some modify and try on author's data, but the result is not good enough. And just like I mentioned in blog, composite in advance will cause ground truth shift, so I don't recommend you composite offline. Run-time composition is better。
2.谁的泛化性能更好
It's really hard to say. Maybe using different way of composition will

[2017-09-27 01:39] bhack commented on #3
@Joker316701882 Can we integrate a little bit more with https://github.com/hector-sab/DIM_DataCreation? Just to have a common reference cause the original dataset was unavailable. @hector-sab Have you tried to train it?

[2017-09-27 01:48] Joker316701882 commented on #3
@bhack
The original dataset is available. You can apply it here
https://sites.google.com/view/deepimagematting

[2017-09-27 02:03] bhack commented on #3
On request.. have you trained on it?

[2017-09-27 02:19] bitname commented on #3
@Joker316701882 Thank you. I will research it further.

[2017-09-28 08:05] bhack commented on #4
An inference test code was commited. @Joker316701882 What is the  status of your training process? Have you some interesting pretrained model to share?

[2017-10-02 12:56] bhack commented on #4
Was just released but I don't know on what dataset was trained.
See the new readme. There as still some bugs in master now.

[2017-10-02 13:02] bhack commented on #4
@Joker316701882 Is [this](https://github.com/Joker316701882/Deep-Image-Matting/blob/master/test.py#L5) a missing file or a typo?

[2017-10-02 19:05] protossw512 opened #7 "No module named matting_numpy_unpool for test.py"
I am encountering this issue when trying to perform testing on images.
Full log:
[code]

I think it should be:
[code]
Since we have that module in matting.py.

Also a minor error in README.md:

In usage:

Usage

simply run:
python test.py --alpha --rgb
sample:
python test.py --alpha=./test_data/alpha/1.png --rgb=./test_data/rgb/1.png

The rgb images folder should be "RGB" insead of "rgb", not a bi

[2017-10-02 19:16] protossw512 commented on #4
@bhack I think it is a typo, you can get code running by changing module name.
https://github.com/Joker316701882/Deep-Image-Matting/issues/7

[2017-10-02 21:44] protossw512 opened #8 "May I ask which dataset are you training on?"
Thank you for providing pretrained model. I have a question regarding to the trainnig dataset. Did you trained on the dataset from original paper or something else?

I tried to do testing on doll.png and troll.png from http://www.alphamatting.com dataset and got pretty bad results, not sure what happened.

I modified test.py code so that I am directly using trimap provided by the dataset, instead

[2017-10-02 22:35] bhack commented on #7
Also `--trimap_dilation` arg seems unused in the code

[2017-10-03 00:20] Joker316701882 commented on #7
@protossw512
You are right. Thank you for your correction!

[2017-10-03 00:35] Joker316701882 commented on #8
@protossw512
I trained on company's dataset which can be partially seen in test_data folder, it's relatively simple.  Dataset mentioned in paper is more complex so the model training on it can generalize very well.  Unfortunately, I tried to train on dataset mentioned in paper, but it's really really hard to converge. I'll try to improve the performance on it in future. Thank you for your great co

[2017-10-03 00:36] Joker316701882 commented on #7
@bhack
Thank u! It's fixed now. : )

[2017-10-03 00:38] protossw512 commented on #8
@Joker316701882 Thanks for reply, since I am working on university research project, I think I could get the dataset from author. I will update if I could get a better model.

[2017-10-03 00:44] Joker316701882 commented on #8
@protossw512
Looking forward to your result! Let me know if you make it!

[2017-10-04 11:45] bitname opened #9 "About the path in windows7"
Hi
My software platform is Windows7 +Anaconda3 + Tensorflow1.3. I have prepared the train dataset with your structure. But when I run your code,there is a problem about the path of the dataset. It is occurred when running the function of load_data in matting.py.

alpha = misc.imread(……)
……
No such file or directory : E:/data/new/alpha1280\\1\\0.png.

I tried my best to solve it from internet, but

[2017-10-04 11:47] bitname commented on #9
No such file or directory : E:/data/new/alpha1280\\1\\0.png.

[2017-10-04 17:40] hector-sab commented on #9
Have you tried --> E:/data/new/alpha1280/1/0.png  ?? With "/" instead of "\"

[2017-10-05 10:41] bitname commented on #9
@hector-sab I have tried to alpha = misc.imread(…….replace('\\Double slash','/')), but it would arise blank space; then I tried to alpha = misc.imread(…….replace('\\Double slash','/').replace(' ', '')), the path became "No such file or directory : E:/data/new/alpha1280/1/0.png". However, the problem still exists:

"No such file or directory : E:/data/new/alpha1280/1/0.png"

So, I did not know wher

[2017-10-05 10:44] bhack commented on #8
@protossw512 If you have any progress send us an update.

[2017-10-09 08:18] bitname commented on #9
@hector-sab Thank you very much. I have got the problem. My problem really focused on the format of  image files in BG. I have generated the train dataset with your codes, in where the format of BG images had been changed to PNG. However, in the GeZheng's codes, the format of BG images is JPG.

[2017-10-12 10:49] engrchrishenry commented on #3
@Joker316701882 Thank you for the code. Is it possible that you upload the modified code that you used on Author's data?

[2017-10-23 16:46] ChengJunqi opened #10 "LookupError: No gradient defined for operation 'pool5' (op type: MaxPoolWithArgmax)"
The function  tf.nn.max_pool_with_argmax() cannot compute gradient. Did you have the problem?
If I want to replace it with tf.nn.max_pool(), what should I do?
![default](https://user-images.githubusercontent.com/33034958/31901683-ba56ac9c-b854-11e7-84ad-69add6b28a4f.png)

[2017-10-28 05:10] #10 closed

[2017-11-02 11:29] hieudt-pixelz commented on #8
In the paper, the authors mentioned this:
"We find images on simple or plain backgrounds (Fig. 2a), including the 27 training images from [25] and every fifth frame from the videos from [26]"

Do you know how can I get that video from [26]?
I glanced over that paper but don't know which video to use.
"[26] E. Shahrian, B. Price, S. Cohen, and D. Rajan. Temporally coherent and spatially accurate vi

[2017-11-10 09:55] ranger1988 opened #12 "can you provide the model trained in the original adobe dataset?"
thank you

[2017-11-25 06:01] yanghuanflc opened #13 "Test Error on Deep Image Matting Dataset"
你好，我根据提供的model对Deep Image Matting这篇paper的testing data进行测试发现，MSE只有0.064，而论文中report的即使不加refinement network，结果也有0.017，不知道是我测试出了问题还是你那边的结果也是这样的？

希望大神能够给一些提示，万分感谢！

[2017-11-25 09:05] Joker316701882 commented on #13
你好，模型训练在私人数据上，和作者的数据分布有很大不同。另外这个模型在我们自己的数据上的表现也与原文有差距。

[2017-11-25 11:17] yanghuanflc commented on #13
感谢大神回复，我这边确实是看官方提供的数据有多问题，感觉很难实现到paper提供的精度。

[2017-11-26 19:32] momonala opened #14 "Which version of Tensorflow?"
[code]

I get the following error, likely beacsue I am using an incompatiable build of Tensorflow. Which version did you build this version in?

[2017-11-26 19:41] michaelKurowski commented on #3
How to generate masks using pretrained model from README?

[2017-11-27 01:07] Joker316701882 commented on #14
tensorflow 1.2 should be ok.

[2017-11-27 01:11] Joker316701882 commented on #3
Assume that you are going to run test.py
Actually mask is not needed. But in this code, mask is used to generate trimap. You can see that code in test.py. In other cases, pretrained model is not necessary.

[2017-11-27 01:11] Joker316701882 commented on #3
@michaelKurowski
Assume that you are going to run test.py
Actually mask is not needed. But in this code, mask is used to generate trimap. You can see that code in test.py. In other cases, pretrained model is not necessary.

[2017-11-27 21:56] kvintessents opened #15 "Support for Tensorflow CPU version?"
tf.nn.max_pool_with_argmax is not supported by Tensoflow CPU-only version.

[2017-11-29 13:22] epirus opened #16 "How to start it?"
├── model
│   ├── checkpoint.dms
│   ├── model.ckpt-3200.data-00000-of-00001
│   └── model.ckpt-3200.index

Get Error

File "/usr/local/lib/python3.6/site-packages/tensorflow/python/training/saver.py", line 1662, in restore
    raise ValueError("Can't load save_path when it is None.")

How to start it ?

[2017-11-30 04:50] Ru-Xiang commented on #8
@protossw512  if you have had a progress, may you share the trained-model with us ?

[2017-11-30 04:55] protossw512 commented on #8
Yeah, I actually slightly modified loss function and data loading part, fixed some issue with original code that may lead to not good results, and also added refinement stage, getting some promising results, but I am not sure if I am allowed to release pretrained model, since I am training on Adobe dataset and I was not supposed to share it without permission of author.
I haven't got time to refac

[2017-11-30 06:30] Ru-Xiang commented on #8
Thank you for your reply, it will be very appreciated if you share your codes at your convenience.

[2017-11-30 06:40] protossw512 commented on #8
Yeah, I think I am going to do that during winter break

[2017-12-12 11:05] ChengJunqi commented on #8
@protossw512 Hi, can you tell me how to modify the code in detail except for refinement?

[2017-12-14 02:08] xiranwang opened #17 "why resize input image to 320x320"
Based on the paper, I think you want to crop the entire image into 320x320 patches and then feed those with uncertain pixels into the neural network, but you code seems to just resize the entire input image into a single 320x320 image and feed into the neural network. This is totally different from what is done by the paper, which might explain why your results differ from theirs.

[2017-12-14 02:20] Joker316701882 commented on #17
Thank you for your suggestion! But I remember that crop has been down in this code, see funtion 'prreprocessing_single' in matting.py.

[2017-12-14 02:33] xiranwang commented on #17
For line 25 and 26 in test.py, are you resizing the input images into size of 320x320 then feeding them into the neural network to predict the alpha matte?
You probably cropped training images into patches for training, but for testing you are supposed to do the same by cropping test images into patches and feeding them to the neural network. But if I'm understanding your code correctly, you just

[2017-12-26 06:41] ronyuzhang commented on #3
On testing step， why do you need input alpha image，i cant understand it.

[2017-12-26 06:43] Joker316701882 commented on #3
@ronyuzhang
To generate trimap : )

[2017-12-26 07:08] ronyuzhang commented on #3
this paper cant be called ‘auto image matting’，only  if input the rgb image ，it is good

[2017-12-26 07:12] Joker316701882 commented on #3
@ronyuzhang
'Only input rgb to generate good mask'
I think this problem hasn't been solved yet : )

[2017-12-28 10:12] ronyuzhang commented on #3
"directly compute the alpha matte given an input image and trimap" ,why do you need input rgb and alpha matte to generate trimap?

[2017-12-30 06:28] ronyuzhang commented on #3
@Joker316701882

[2017-12-30 18:02] Theophile88 opened #18 "UPDATE_OPS"
The code isn't missing something like:

update_ops = tf.get_collection(tf.GraphKeys.UPDATE_OPS)
with tf.control_dependencies(update_ops):
       train_op = tf.train.AdamOptimizer(learning_rate = 1e-5).minimize(total_loss,global_step = global_step)

to ensure correct statistics during BN at test time?

[2018-01-05 03:52] ycjing commented on #6
我发邮件第二作者一直没有回复，第一作者回复地很快，几分钟就回我了，不过还是叫我找第二作者发邮件要....

[2018-01-09 04:05] Joker316701882 commented on #18
@Theophile88
Yeah that's right!
Here the training_batch size is set as 1, so this can be considered as using local statistics instead of moving statistics. At testing time, BN is still in training mode, so local statistics are also applied.
I tried using moving statistics of BN with batch size >1, there is no big difference according to experiment.
And as other issues mentioned, one main problem f

[2018-01-09 04:07] Joker316701882 commented on #17
@xiranwang
Sorry for late reply! Yeah, you are absolutely right about this: )

[2018-01-09 04:14] xiranwang commented on #17
Looking forward to your update :)

[2018-01-15 02:00] XiaogangYin commented on #6
At the moment, we are only licensing the dataset to universities for non-commercial use.

第二作者回复还是挺快的。。。

[2018-01-31 02:52] ypflll opened #19 "How to get a trimap when there no GT in the paper"
It's an issue about the paper, maybe not appropriate here. But I can't get contact with the paper's author, so maybe some useful discussion here.
In the paper, three data-set used: alpha-matting, composition-1k and the real image. The first two have GT, so the trimap can be generated by dilation. However, the third one, i.e. the real image data-set, which is according to the paper "pulled from the

[2018-02-05 04:35] Joker316701882 commented on #8
@protossw512
Glad to here that you achieved promising results! Can you email me your email address? If it's possible, I would like to discuss about what refinement you have made to achieve good results. Thank : )

[2018-02-09 00:58] protossw512 commented on #8
@Joker316701882 @ChengJunqi @Ru-Xiang
Yeah, sure, please email me: helloxinyao.wang###gmail.com
I think one fatal mistake for your original code is the creation of trimap from alpha, you have to perfom eroding and dilation alpha, but you only applied dilation, that's why the network is basically remember the boundaries of your trimap where pixel values are equal to 255.

There should be other mino

[2018-02-12 12:36] pannous opened #20 "your name"
316701882? was that really the last free available Joker on github or is that your phone number?

[2018-02-12 15:03] Joker316701882 commented on #20
@pannous
Best issues! Maybe you can call this number then will figure out whether this is my phone number : )

[2018-03-07 17:50] ricshaw commented on #8
@protossw512 Did you manage to get a better model?

[2018-04-20 14:44] foamliu commented on #8
@protossw512 Could you share the improvement in your github?

[2018-04-23 06:36] wy3406 opened #21 "Can you update the pre-training model?"
Hi,
Due to your modifications to unpool, the previous pre-training model was not available.Can you update the pre-training model?please!
thank

[2018-04-23 06:53] #21 closed

[2018-04-23 07:25] wy3406 opened #22 "Can you update the pre-training model?"
Hi,
Due to your modifications to unpool, the previous pre-training model was not available.please update the pre-training model.
thank

[2018-04-24 06:45] PanJinquan opened #23 "help!help!help!Test run failed"
I download your Github code and the corresponding model file：https://github.com/Joker316701882/Deep-Image-Matting，Then run：python test.py --alpha=./test_data/alpha/1.png --rgb=./test_data/RGB/1.png，But error in this procedure：saver.restore(sess,tf.train.latest_checkpoint('./model'))#PS：I have downloaded your model and put it in the "model" file.
Here errors：InvalidArgumentError (see above for trac

[2018-05-05 13:17] wzw1994 opened #24 "I wonder if the random crop center would make the crop part out of the image"
In some pictures the grey part of the trimap may be in the margin of the picture, I think the random crop center may cause some unexpected error.

[2018-05-20 10:02] Sh0lim commented on #19
I wonder the same. Any help with this here?

[2018-05-20 10:13] Sh0lim commented on #6
Hello,

how to get the dataset to train model, and to replicate the results from the paper? Which dataset I need? Im teaching assistant at university, and I want to give this as a project to my students.

[2018-05-21 02:38] ypflll commented on #19
@Sh0lim I get a GT using semantic segmentation network like mask-rcnn or mobilenet.

[2018-05-22 09:40] elzeru commented on #3
The purpose of the algorithm is to create the mask of an object present an image. The algorithm cannot guess what is the object you want to extract, so the trimap is here to give the algorithm an approximate position of it.

[2018-05-23 14:03] Sh0lim commented on #19
@ypflll Thank you. What do you thing, can saliency detection be other approach. In that way we do not need is to train network for specific classes. What I mean is that, with saliency it can be generalize to any object. Am I right? For example using this: https://sites.google.com/site/ligb86/mdfsaliency/

[2018-05-24 05:52] ypflll commented on #19
Yes. Trimap can be generated by a rough mask, so I think saliency detection can be used here.

[2018-05-24 08:05] Sh0lim commented on #19
Good. Thx

[2018-05-30 11:01] Bobyuan1015 opened #25 "require 3.5.0 of the Protocol Buffer runtime library,"
/usr/bin/python2.7 /home/spritar/bob/workplace/AI/Deep-Image-Matting/matting.py
[libprotobuf FATAL google/protobuf/src/google/protobuf/stubs/common.cc:67] This program requires version 3.5.0 of the Protocol Buffer runtime library, but the installed version is 3.0.0.  Please update your library.  If you compiled the program yourself, make sure that your headers are from the same version of Protocol

[2018-06-04 17:07] elzeru commented on #23
Just tried 1.8 CPU, works like a charm, and the upgrade is very easy to do. On my Debian:
pip3 install --upgrade tensorflow

[2018-06-15 03:16] KeyKy opened #26 "unpool in matting.py"
I can not fully understand unpool. Could you explain the algorithm？I found the loss converges when using unpool, while tf.image.resize_bilinear hardly converges.

[2018-06-22 04:58] #26 closed

[2018-06-25 13:30] actionLUO opened #27 "Anyone who knows how to implement deep matting loss?"
How to implement deep matting loss in keras, thanks!
Like Real-time deep hair matting on mobile devices paper...

[2018-08-16 13:07] lzh19961031 commented on #3
@Joker316701882 @bitname Hi,我有个小问题。我现在想把一张图片中的物体加到另一张图片中的某个位置，请问我需要怎么做呢？我没有找到论文作者提供的代码？

[2018-08-24 07:59] LiangliangGuo commented on #16
Hi, Have you got how to start it? can you tell me ?

[2018-08-24 15:25] #16 closed

[2018-08-31 01:34] chetu3319 opened #28 "Error while testing: I T : Tensorflow binary not complied to use"
Hi,
I'm getting this error while running.
I'm running: python test.py --alpha= ./test_data/alpha/2.png --rgb=./test_data/RGB/2.png

Output: Your CPU supports instructions that this TensorFlow binary was not compiled to use : AVX2

What changes should I need to make?
Thanks.

[2018-09-06 06:43] panovr opened #29 "Can't download pretrained model"
Hi,
  &nbsp; the pretrained model can't be downloaded. May you supply it in Baidu Yun Drive?
  &nbsp; Thanks!

[2018-09-07 01:38] haiee opened #30 "Pretrained Model Error"
Hi, author!
The pretrained model link is not working.
Thanks a lot if you would update the new link for downloading the model.

[2018-09-07 09:39] elzeru commented on #28
This is more a warning than an error. The Tensorflow binary you are using do not use some of your CPU optimization.

To use AVX2 instructions you need to build Tensorflow by yourself.

[2018-09-07 10:57] shinebay opened #31 "pretrained model的下载链接挂了。。。"
感谢作者提供的项目，但是pretrained model的Google drive链接挂掉了：
![image](https://user-images.githubusercontent.com/7820385/45215349-cd787c80-b2cf-11e8-86f2-4d8937bd3460.png)
能重新上传一下吗？上传到百度云可以，非常感谢

[2018-09-11 08:15] shinebay commented on #28
@chetu3319 Hi, the pretrained model download link is down, can you share the Pretrained Model with us in google drive? thank you

[2018-09-14 12:43] ferric123 opened #32 "pre-trained model does not exist..."
could you please upload the missing pre-trained model for testing?

[2018-09-25 07:25] b121351 opened #33 "How to train on my own data?"
I'm looking to train on a small data set I've created. I've input images, trimaps, alpha(ground truths), all in png formats.
But I've seen other type of data like 'eps','bg' in matting_unpool.py.
`dataset_eps = 'train_data/eps'
dataset_BG = 'train_data/bg'`

 How to proceed?

[2018-09-26 14:13] b121351 opened #34 "Meta Graph Generation"
I've made few changes to the network. How to generate meta graph?

[2018-09-27 07:17] SheikArbaz commented on #34
You'll find it here: https://www.tensorflow.org/api_docs/python/tf/train/import_meta_graph

[2018-10-04 13:47] xiaomingdaren123 commented on #6
@XiaogangYin @ycjing 我像第二作者要了数据集，发过来了，为什么test里面有trimaps,但是训练集里面没有trimaps?

[2018-10-11 08:38] zheyangshi opened #35 "请问中文博客的链接是挂掉了吗"
如题，打不开博客链接，如果方便的话可以重新给一个吗

[2018-10-11 09:05] wyuzyf commented on #35
同求，english的也OK

[2018-10-11 09:38] wyuzyf commented on #12
please ,thank you

[2018-10-16 06:19] b121351 opened #36 "pred_mattes, pred_final conflict"
In the file matting_unpool.py, to predict the values for validation pred_final variable is run whereas in test.py for testing pred_mattes is run. Isn't this something weird. I'm getting different results for a single example during validation, test modes. Why pred_mattes is added to the collection not pred_final?

[2018-10-17 09:52] shliang0603 commented on #23
@PanJinquan  Can you send me the pretrained model, I can't download it ,my email is :shliang0603@gmail.com    Thanks

[2018-10-18 02:03] shliang0603 commented on #8
@protossw512 Can you send me the Adobe datasets, I have send a email for author of Deep Image Matting, but I didn't get a reply.Thanks

[2018-10-18 09:04] shliang0603 commented on #23
@PanJinquan 哥哥，你有Deep-Image-Matting的数据集吗，可以发我一份吗，谢谢啦 ，我的email: shliang0603@gmail.com

[2018-10-27 13:49] zhengyi123456 commented on #6
@xiaomingdaren123  你好，我是一名CS的研究生，在做相关的实验，我向第二作者发送了邮件申请，但没有收到回复，能不能麻烦你把数据share给我呢，保证不会外传，只想完成一门课程的课程实验作业，谢谢你~ 375426255@qq.com

[2018-10-27 13:51] zhengyi123456 commented on #24
不会的，在处理前景和背景时，考虑了这个问题，前景图片resize成640，背景图片resize成1280，最大的随机crop也是640，所以不会超

[2018-11-16 02:16] fanjianing commented on #6
以公司名义申请了。。告诉我只能发给University...尬

[2018-11-22 03:09] focuswuke commented on #35
打不开博客链接，同求

[2018-11-22 03:10] focuswuke commented on #31
同求

[2018-11-22 08:15] chenhaocs commented on #23
@PanJinquan Hello, could you send me your pre-trained model and the training datasets?
Thanks a lot!
My email chanhal@outlook.com

[2018-12-12 08:35] wyk0517 commented on #19
Hi， I wanna know you generate a rough mask that only has foreground and background? How do you deal with the third class "unknown area", and if you don't have the  "unknown area" class, your deep image matting model just care foreground and background? In this situation is the model work well?
Thanks!

[2018-12-16 13:20] rainsun1 commented on #23
could you ALSO send me your pre-trained model and the training datasets?
Thanks!
email: yglhit@sina.cn

[2018-12-16 13:21] rainsun1 commented on #23
@PanJinquan could you ALSO send me your pre-trained model and the training datasets?
Thanks!
email: yglhit@sina.cn

[2018-12-26 13:07] wangxin1233 opened #37 "ValueError: Can't load save_path when it is None."
hello!
when I run the code :python test.py --alpha=./test_data/alpha/1.png --rgb=./test_data/RGB/1.png
always appear the follow error:
![image](https://user-images.githubusercontent.com/44840625/50446849-29841100-0952-11e9-82ad-b69f4f3689b5.png)
Traceback (most recent call last):
  File "test.py", line 47, in <module>
    main(parse_arguments(sys.argv[1:]))
  File "test.py", line 16, in main
    s

[2018-12-28 12:11] aigc-boys commented on #8
@protossw512，Can you send me the Adobe datasets, I have send a email for author of Deep Image Matting, but I didn't get a reply.Thanks. My email is 1575262785@qq.com.

[2019-01-02 08:35] VoyagerIII commented on #37
You haven't download the pre-trained model. And the pre-trained model can't be reached anymore.  so sad.

[2019-01-22 08:23] gaolv123tyu opened #38 "Who can share the pre-trained model, please?"
Who can share the pre-trained model,  please?

[2019-01-22 12:15] gavin-gy commented on #6
@xiaomingdaren123  你好，个人在学习matting, 能否把 deep-image-matting 的数据分享下？保证只是个人学习用，谢谢。 email:103934487@qq.com

[2019-01-27 15:46] tsing90 commented on #8
@protossw512 I know you may not be able to share your trained model as you explained authorization problem, but would you please share Joker's pretrained model? the link of his pretrained is missing ...... I'll appreciate much if you could do me this favor, thanks. my email: LC2015@ic.ac.uk

[2019-02-16 01:18] Tangzixia opened #39 "validation loss"
validation loss is very high about 109, however training loss is 0.5, so can you help me with this issue?

[2019-02-28 02:52] dailenson commented on #8
have you got the dataset? thanks!

[2019-02-28 08:41] jayhhl commented on #8
@protossw512
Can you send me the Adobe datasets, I have send a email for author of Deep Image Matting, but I didn't get a reply.Thanks. My email is [1575262785@qq.com](mailto:332907213@qq.com).

[2019-02-28 08:41] jayhhl commented on #8
Can you send me the Adobe datasets, I have send a email for author of Deep Image Matting, but I didn't get a reply.Thanks. My email is [332907213@qq.com](mailto:332907213@qq.com).

[2019-02-28 08:42] jayhhl commented on #8
@protossw512
Can you send me the Adobe datasets, I have send a email for author of Deep Image Matting, but I didn't get a reply.Thanks. My email is [332907213@qq.com](mailto:332907213@qq.com).

[2019-03-02 08:24] wuzb19951013 commented on #37
oh, bad news

[2019-03-02 08:24] wuzb19951013 commented on #31
同求

[2019-03-05 02:42] ssxlconch commented on #23
sorry for bothering,
would you please send me the pretrained-model?
my emai: 2741592109@qq.com

[2019-03-05 02:53] ssxlconch commented on #39
sorry for bothering
do you have the pretrained model? could you please share to me?
my email:2741592109@qq.com

[2019-03-17 06:19] yuxuan1111 opened #40 "@XiaogangYin @ycjing 我像第二作者要了数据集，发过来了，为什么test里面有trimaps,但是训练集里面没有trimaps?"
@XiaogangYin @ycjing 我像第二作者要了数据集，发过来了，为什么test里面有trimaps,但是训练集里面没有trimaps?

_Originally posted by @xiaomingdaren123 in https://github.com/Joker316701882/Deep-Image-Matting/issues/6#issuecomment-427025194_

[2019-03-17 06:24] yuxuan1111 commented on #40
你好我是一名在读研究生，我的研究方向也是这个，我给第二作者发了邮件，但是没有回我。请问可不不可以把数据集分享我一下？email:162550443@st.usst.edu.cn  谢谢！

[2019-03-17 06:25] #40 closed, assigned to nobody

[2019-03-17 06:32] yuxuan1111 commented on #6
@ycjing @xiaomingdaren123 你好，我是一名在读研究生，我的研究方向是matting,给第二作者发了邮件但是没有回我，请问可不可以把数据集分享我一下 email：162550443@st.usst.edu.cn

[2019-03-21 09:27] Neptuneer commented on #6
@ycjing 您好！我是一名在读研究生，需要完成Matting的任务，请问可不可以把数据集分享一下给我？email: dengzhsh5@mail2.sysu.edu.cn    非常感谢！

[2019-03-26 11:33] lengnuanzihi commented on #25
hi,i still have this problem ,and it buzzles me some days, can you tell me how do you solve this question?
i install protobuf3.6.0,but still have this problem,i'm same with you!Thanks!

[2019-03-27 03:21] fuliujun commented on #6
@Neptuneer @yuxuan1111  同学你好！我也是一名在读研究生，给第二作者发了邮件但未收到回复，请问可不可以把数据集分享一下，万分感谢！ email:2018202130064@whu.edu.cn

[2019-04-07 08:30] Wu1069444514 commented on #6
@xiaomingdaren123 同学您好！我是一名matting方向的研究生，给第二作者发了邮件但是没有回复，请问能不能分享一下，真的非常感谢！email：1069444514@qq.com

[2019-04-16 13:09] lan2720 commented on #6
@ycjing @xiaomingdaren123 @zhengyi123456 同学您好！我是一名大四学生，实验室老师在做这块工作，请问能不能分享一下，真的非常感谢！email：910806663@qq.com

[2019-04-16 13:18] Neptuneer commented on #6
建议你用学校的邮箱，不然无法确定你是不是学生呢。

------------------ 原始邮件 ------------------
发件人: "王嘉楠"<notifications@github.com>;
发送时间: 2019年4月16日(星期二) 晚上9:09
收件人: "Joker316701882/Deep-Image-Matting"<Deep-Image-Matting@noreply.github.com>;
抄送: "邓卓爽"<949825937@qq.com>; "Mention"<mention@noreply.github.com>;
主题: Re: [Joker316701882/Deep-Image-Matting] deep image matting dataset(#6)

@ycjing @xiaomingdaren123 @zhengyi12345

[2019-04-16 15:06] Wu1069444514 commented on #6
您好 我的学校邮箱是 2017301390120@whu.edu.cn

------------------ 原始邮件 ------------------
发件人: "Neptuneer"<notifications@github.com>;
发送时间: 2019年4月16日(星期二) 晚上9:18
收件人: "Joker316701882/Deep-Image-Matting"<Deep-Image-Matting@noreply.github.com>;
抄送: "WHU2017301390120"<1069444514@qq.com>; "Comment"<comment@noreply.github.com>;
主题: Re: [Joker316701882/Deep-Image-Matting] deep image matting dataset(#6)

建议你用学校的邮

[2019-04-17 08:54] eguoguo321 opened #41 "How can I get a trimap from a picture?I don't understand"

[2019-04-17 09:48] eguoguo321 commented on #19
I still don't understand how to get a trimap .Which net you use to get a mask?Pls let me know

[2019-04-18 02:24] ypflll commented on #19
I use mask-rcnn or deeplabv3+.

[2019-04-29 13:40] antithing opened #42 "ValueError: not enough values to unpack (expected 6, got 5)"
Hi! and thanks for making this code available. i am trying to train it on my own data, and i am seeing the following error:
`...
epoch 0   batch 197   loss is 0.383589
epoch 0   batch 198   loss is 0.348569
epoch 0   batch 199   loss is 0.397935
saving model......
test on validation data...
2019-04-29 14:32:25.535927: W tensorflow/core/kernels/queue_base.cc:277] _0_input_producer: Skipping cancell

[2019-05-06 02:19] #41 closed, assigned to nobody

[2019-05-14 11:20] leonzfa commented on #6
同求分享，liangzhengfa10@nudt.edu.cn，谢啦

[2019-06-12 07:34] ZhangChaoZhong commented on #8
Can you send me the Adobe datasets.Thanks!My email is 1014295391@qq.com

[2019-06-19 11:47] ofrimasad commented on #8
can you please send me the Adobe dataset. The author is not answering emails.
Thanks in advance. ofrimasad@yahoo.com

[2019-06-30 09:30] donghua2019 commented on #6
同求，学校邮箱是dhua@scut.edu.cn   非常感谢！

[2019-07-16 07:21] Capchenxi commented on #6
您好，同求分享！ cl982@drexel.edu 感谢！

[2019-08-15 06:29] dudumeng commented on #8
Could you send me the Adobe datasets? Thanks! My email is yeqingbit@qq.com

[2019-09-02 13:41] linpengzhang commented on #8
@protossw512
Can you send me the Adobe datasets? Thanks! My email is linpeng.zhang@studenti.unipd.it
I'm a CS Student and I need it for MSc thesis

[2019-09-22 04:46] sinfere commented on #8
Could you send me the datasets? I'm doing some related researches. Thanks!

My email is sinfere@gmail.com

[2019-10-21 08:23] flyfish01 commented on #8
@protossw512

Could you share the Adobe datasets, thank you! my email is haoran.andy###gmail.com

[2019-10-21 13:28] flyfish01 commented on #6
@Capchenxi @Joker316701882 @leonzfa @fuliujun @yuxuan1111 @Neptuneer

各位同学，可以分享一下数据集吗，我的邮箱是haoran.andy@gmail.com, 感谢！

[2019-10-22 01:57] parachute0001 commented on #8
@protossw512
Could you send me the datasets? I'm doing some related researches. Thanks!
My email is785003851@qq.com

[2019-10-22 01:58] parachute0001 commented on #8
@protossw512
Could you send me the datasets? I'm doing some related researches. Thanks!
My email is 785003851@qq.com

[2019-10-22 02:01] tengda100 commented on #8
已经好久不研究这方面的技术了

------------------ 原始邮件 ------------------
发件人: "parachute0001"<notifications@github.com>;
发送时间: 2019年10月22日(星期二) 上午9:58
收件人: "Joker316701882/Deep-Image-Matting"<Deep-Image-Matting@noreply.github.com>;
抄送: "Subscribed"<subscribed@noreply.github.com>;
主题: Re: [Joker316701882/Deep-Image-Matting] May I ask which dataset areyou training on? (#8)

@protossw512
 Could you send me the dat

[2019-10-22 02:08] parachute0001 commented on #6
@Capchenxi@Joker316701882@leonzfa@fuliujun@yuxuan1111@Neptuneer@XiaogangYin @ycjing我在做相关的研究，求分享数据集，不外泄，不胜感激，我邮箱 liurong_cumt@126.com

[2019-10-22 02:08] parachute0001 commented on #6
@Capchenxi @Joker316701882 @leonzfa @fuliujun @yuxuan1111 @Neptuneer @XiaogangYin @ycjing我在做相关的研究，求分享数据集，不外泄，不胜感激，我邮箱 liurong_cumt@126.com

[2019-10-22 10:04] alaist commented on #6
@Capchenxi @Joker316701882 @leonzfa @fuliujun @yuxuan1111 @Neptuneer 大佬们求分享，实在是没等到作者的回复，跪谢！邮箱xiaomu@sjtu.edu.cn

[2019-10-25 09:43] parachute0001 commented on #6
@Capchenxi @Joker316701882 @leonzfa @fuliujun @yuxuan1111 @Neptuneer @flyfish01 @alaist @leonzfa   @fuliujun @Capchenxi  @lan2720 我是一名在校的硕士研究生，请求各位同志发一下数据集，在此谢谢各位了。我的邮箱是TS17060160P3LP@cumt.edu.cn

[2019-10-27 02:13] confident-OH commented on #8
Could you share the Adobe datasets, thank you very much! My email is confidentoh@foxmail.com

[2019-10-27 02:13] confident-OH commented on #8
Could you share the Adobe datasets, thank you very much! My email is confidentoh@foxmail.com

[2019-10-27 02:14] confident-OH commented on #8
Could you share the Adobe datasets, thank you very much! My email is confidentoh@foxmail.com

[2019-11-02 23:36] kenji0x02 commented on #8
@protossw512 Could you send me the Adobe datasets? Thanks! My email is  kenji0x02###gmail.com

[2019-11-11 09:34] AstonyJ commented on #6
各位大佬好，如果方便的话可以讲数据集转发给我一份么？感谢各位！我的邮箱：jinghp@emails.bjut.edu.cn

[2019-11-11 09:35] AstonyJ commented on #6
各位大佬好，如果方便的话可以讲数据集转发给我一份么？感谢各位！我的邮箱：jinghp@emails.bjut.edu.cn

[2019-11-19 03:22] imocat commented on #8
@protossw512  could you send me the adobe dataset? thanks! my email is imocat###qq.com

[2019-12-11 07:13] charlizesmith opened #43 "Deep Image Matting on Android"
Hi,
Thanks for you work!
its looking awesome output.
I want to integrate your demo into android project. Is it possible to integrate model into android Project? If it possible, then How can i integrate this model into android project?
Can you please give some suggestions?
Thanks in advance.

[2019-12-15 17:24] InternetMaster1 opened #44 "Automatic Background Removal technology"
I am looking for a deep learning library/sdk which can be used to remove the background from any image automatically (with quality as good as www.remove.bg).

I tried some image segmentation SDKs with pre-trained models such as Tensorflow Lite & Fritz AI, but the accuracy of the cutout mask was very low, amongst other issues.

Criteria :-

1) Background Removal rather than just Human/Portrait Segm

[2020-03-10 20:57] vallegro commented on #6
@Capchenxi @Joker316701882 @leonzfa @fuliujun @yuxuan1111 @Neptuneer @flyfish01 @alaist @leonzfa @fuliujun @Capchenxi @lan2720 @AstonyJ @teebbstudios 各位大佬有吗？给我也发一份吧。email: mao.yu1988@gmail.com

[2020-03-14 03:37] phper5 commented on #8
i think that is a great idea. as i a beginner ,i do not know the mean " Combined with the backgrounds described in the DIM publications"  could you tell me what is the DIM ?

thanks

[2020-03-18 14:00] PytaichukBohdan commented on #8
@protossw512
I would appreciate very much if you could  send me the Adobe datasets :)
It is needed very much for my Masters Degree.
My email is:
bohdan.pytaichuk@gmail.com

[2020-03-28 13:02] drnemor commented on #8
@protossw512 Could you send me Adobe dataset? Thank you for your work! My email: drnemor@gmail.com

[2020-04-02 06:10] lianguanguan commented on #38
Did you get the pre-trained model?

[2020-04-02 06:10] lianguanguan commented on #38
Did you get the pre-trained model?

[2020-04-08 08:20] mingqizhang commented on #8
I apply the dataset from paper author, but did not get the respond.
Could you please send me the Adobe datasets, my school mail is
161060075@hdu.edu.cn

[2020-04-14 22:39] jaintarun commented on #8
@protossw512
Hi can you send me the Adobe dataset also? I emailed bprice@adobe.com but I have received no reply. I am doing a project in Image Matting and it will help a lot if I can get the dataset.
My email address is tjain73@yahoo.com

[2020-04-26 13:09] SvenGroen commented on #8
Has anyone access to the dataset and is able to share it with me. I am working on my bachelor thesis and desperately looking for a benchmark dataset!
Feel free to send it to me:
sgroen@uni-osnabrueck.de

[2020-04-27 03:42] TenfoldM commented on #6
@XiaogangYin
请问大佬方便分享下数据集吗？一直没等到作者的回复，谢谢！ email：6191611035@stu.jiangnan.edu.cn

[2020-05-04 03:57] zhengyi123456 commented on #6
你好，非常抱歉这么晚回复你，但根据数据集的要求，使用者是不能私下共享和传递数据集的，发送邮件给作者的话是很快就能够收到回复的，建议你在邮件里面注明你的学校，使用目的，以及注意邮件的正式格式和中美两国的时差，应该会很快收到回复的。

祝好～

发自我的iPhone

------------------ Original ------------------
From: TenfoldM <notifications@github.com&gt;
Date: Mon,Apr 27,2020 11:43 AM
To: Joker316701882/Deep-Image-Matting <Deep-Image-Matting@noreply.github.com&gt;
Cc: Yi Zheng(郑逸) <375426255@qq.com&gt;, Mention <mention@norepl

[2020-05-04 04:00] TenfoldM commented on #6
你好，谢谢你的回复。我目前已经收到了作者的回复以及数据集。你在GitHub上的工作也很nice，祝好！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Yi Zheng(郑逸)"<notifications@github.com&gt;;
发送时间:&nbsp;2020年5月4日(星期一) 中午11:57
收件人:&nbsp;"Joker316701882/Deep-Image-Matting"<Deep-Image-Matting@noreply.github.com&gt;;
抄送:&nbsp;"毛腾飞"<550895159@qq.com&gt;;"Comment"<comment@noreply.github.com&gt;;
主题:&nbsp;Re: [Joker316701882/Deep-Imag

[2020-05-23 15:19] codingdudecom opened #45 "I can't run the test. What am I doing wrong?"
I'm trying to run the test, but I run into errors. I am using tf1.2 because on tf2 it didn't work

The error I get is this:

[code]

What am I doing wrong?

[2020-06-03 17:17] cisspbru commented on #8
Hello, could you please send me the Adobe dataset. The author is not answering emails.
I'm a  spbgpu student and I  needed  it very much my email   6032083@mail.ru

[2020-06-11 09:39] alexey-trushkov commented on #8
@protossw512

Hi, would you mind sharing with me Adobe dataset. I'm doing some related research. My email: alexeitrushkov@gmail.com.

[2020-06-27 08:48] Yunyung commented on #6
@Capchenxi @Joker316701882 @leonzfa @fuliujun @yuxuan1111 @Neptuneer @flyfish01 @alaist @leonzfa @fuliujun @Capchenxi @lan2720 @TenfoldM Could share the dataset with me? i have been ask the original author, but no reply.  I'm a CS student only used for research purpouse. Thank a lot!  email: s0554014@gm.ncue.edu.tw

[2020-06-27 08:53] Yunyung commented on #8
@protossw512
Hello, could you mind send me the Adobe dataset. I'm not get the respond from author.
I'm a CS student and only for research purpose email. Thank a lot! email: s0554014@gm.ncue.edu.tw

[2020-08-17 07:37] luckyboy101 commented on #8
Can you send me the Adobe datasets.Thanks!My email is 2783000@qq.com

[2020-08-27 14:09] czHappy commented on #6
你好，我是一名在读研究生，需要数据集，仅仅学习使用，邮箱:chengzhen@ebupt.com,万分感谢！

[2020-08-27 14:09] czHappy commented on #6
你好，我是一名在读研究生，需要数据集，仅仅学习使用，可否分享一下你的数据集？邮箱:chengzhen@ebupt.com,万分感谢！

[2020-08-27 14:10] czHappy commented on #6
@Capchenxi @Joker316701882 @leonzfa @fuliujun @yuxuan1111 @Neptuneer @flyfish01 @alaist @leonzfa @fuliujun 你好，我是一名在读研究生，需要数据集，仅仅学习使用，邮箱:chengzhen@ebupt.com,万分感谢！

[2020-09-15 08:59] GKL-1996 commented on #6
各位同学好，我是一名研二学生。谁有composition 1k 数据集求分享，只用于个人研究，没有任何商业用途。我的邮箱：
2190820005@stu.xaut.edu.cn。万分感谢！

[2020-10-17 22:53] ghost commented on #8
@protossw512
Hi! Could you possible share with me Adobe datasets. My email is pseudomo@yandex.ru
Thanks!

[2020-10-19 05:21] luckyboy101 commented on #8
Hi, I am not allowed to share this dataset due to the adobe license agreement.
Please contact Brian Price (bprice@adobe.com), and you will need to sign an agreement.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "Joker316701882/Deep-Image-Matting"

[2021-01-23 10:42] qingyang-jiandao commented on #8
@protossw512
Can you send me the Adobe datasets, I have send a email for author of Deep Image Matting, but I didn't get a reply.Thanks. My email is 695450439@qq.com.

[2021-03-04 16:34] zpy-number commented on #8
Hi, would you mind sharing with me Adobe dataset. I'm doing some related research. My email:17302632110@163.com

[2021-03-10 00:35] luckyboy101 commented on #8
Hi, I am not allowed to share this dataset due to the adobe license agreement.
Please contact Brian Price (bprice@adobe.com), and you will need to sign an agreement.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "zpy-number"<notifications@github.com&gt;;
发送时间: 2021年3月5日(星期五) 凌晨0:35
收件人: "Joker316701882/Deep-Image-Matting"<Deep-Image-Matting@noreply.github.com&gt;;
抄送: "loske"<2783000@

[2021-04-02 01:52] cnnAndBn commented on #8
hi,@Joker316701882,I have a question about the dataset.
in paper ,the fig 2,b shows the alpha result of fig 2 a by using ps tools right? but fig2 c seems to not correspond well to fig 2 c.
as the following image show, the alpha image is very accurate but the corresponding image in fg folder is not good as highlighted in the blue circle. what is the images in the fg folder? how they are generated?

[2021-05-19 04:35] heran commented on #8
@protossw512 Could you share the Adobe datasets, thank you very much! My email is wenqiang#xmdqq.com

[2021-06-02 14:50] Gundoganfa commented on #8
Could you share the Adobe datasets, thank you very much! My email is gundoganfa@gmail.com

[2021-06-18 10:03] AloneGu commented on #8
@protossw512 Could you send me Adobe Matting dataset? Thank in advance! My email: wg631@nyu.edu

[2021-06-18 10:15] AloneGu commented on #6
@Capchenxi @Joker316701882 @leonzfa @fuliujun @yuxuan1111 @Neptuneer 同求数据集，跪谢！邮箱 wg631@nyu.edu

[2021-06-19 01:50] luckyboy101 commented on #8
Hi, I am not allowed to share this dataset due to the adobe license agreement.
Please contact Brian Price ***@***.***), and you will need to sign an agreement.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Jackling ***@***.***&gt;;
发送时间: 2021年6月18日(星期五) 晚上6:04
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [Joker316701882/Deep-Image-Matting] May I ask which datas

[2022-07-07 06:43] mytrumpets commented on #6
@AloneGu 你好有收到数据集吗，跪求！邮箱yfchen_1@stu.xidian.edu.cn